
body,html{
    height: 100%;
}

.messagesended{
    margin-left: 340px;
    margin-top: 10px;
}
.messagerecieved{
    margin-left: 10px;
}

.contentrecieved{
    margin-top: 10px;

}
.contentsended{
    background-color: orange;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    margin-left: -70px;
}
.contentrecieved{
    background-color: gold;
    width: 150px;
    height: 50px;
    border-radius: 10px;
   
}
.back{
    background-color: violet;
    height: 50px;
    margin-top: 30px;
    width: 500px;
    border-radius: 20px;
}
.back:hover{
    background-color: grey;
    cursor: pointer;
}
.message-container{
    width: 450px;
    height: 730px;
    background: white;
    margin-top: -170px;
    margin-left: 650px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    display: none;
    overflow-y: auto;
}
.ins {
    margin-top: -220%;
    margin-left: 650px;
    display: none;
  }
  
  .ins input {
    margin-top: 740px;
    width: 300px;
    margin-left: 30px;
    border-radius: 10px;
  }
  .uo{
    margin-top: -22px;
  }
  
  .ins .uo button {
    width: 80px;
    height: 4vh;
    margin-left: 340px;
    margin-top: -240px;
    border-radius: 20px;
    background: white;
    color: black;
    font-size: 20px;
  }

    @media  (max-width:1580px){
        .message-container{
           width: 430px;
           height: 450px;
           margin-left: 610px;
        }
        .ins {
            margin-top: -730px;
            margin-left: 610px;
            display: none;
          }
         .uo{
            margin-top: -21px;
          
         }
         .ins .uo button{
            height: 5vh;
            width: 100px;
            
         }
    }
    